<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scan Membership</title>
</head>
<body>
    <h1>Admin: Scan Membership</h1>
    <form action="/admin/scan" method="POST">
        <label for="membership_id">Membership Id:</label>
        <input type="text" id="membership_id" name="membership_id" required>
        <input type="submit" value="Scan">
    </form>
    <!-- Button to go to Expire Entries Page -->
<form action="/admin/expire_entries" method="GET">
    <button type="submit">Expire Entries</button>
</form>
    <a href="/admin/dashboard">Back to Dashboard</a>
</body>
</html>
